/*
MAIN STYLES
*/
body {
  margin: 0px;
}

/* 
HEADER STYLES
*/

.heading-container {
  display: flex;
  flex-direction: row;
  background-color: #1F2937;
  font-family: 'roboto', monospace;
  flex: 1;
}

.header-logo {
  margin-right: auto;
  margin-top: 10px;
  margin-left: 180px;
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bolder;
}

.header-link-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 180px;
}

.header-link {
  margin-top: 10px;
  margin-right: 24px;
  align-items: center;
  justify-content: flex-end;


}

.header-link a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

/*
^ HEADER STYLES ^
*/

/*
AWESOME STYLES
*/

.awesome-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1F2937;
  font-family: 'roboto', monospace;
  flex: 1;
  padding-top: 100px;
}

.awesome-container .left-container {
  display: flex;
  flex-direction: column;
  margin: 40px;
  height: auto;
  width: 600px;
}

.text-main {
  display: flex;
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.text {
  display: flex;
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up {
  height:34px;
  width: 100px;
}

.awesome-container .right-container {
  display: flex;
  margin: 40px;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 600px;
  background-color: darkgray;

}

.awesome-container .right-container .image {
  color: #F9FAF8;
}


/*
^ AWESOME STYLES ^
*/