

/*
MAIN STYLES
*/


body {
  margin: 0px;
}


/*
^ MAIN STYLES ^
*/


/* 
HEADER STYLES
*/


.heading-container {
  display: flex;
  flex-direction: row;
  background-color: #1F2937;
  font-family: 'roboto', monospace;
  flex: 1;
}

.header-logo {
  margin-right: auto;
  margin-top: 10px;
  margin-left: 180px;
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bolder;
}

.header-link-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 180px;
}

.header-link {
  margin-top: 10px;
  margin-right: 24px;
  align-items: center;
  justify-content: flex-end;
}

.header-link a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}


/*
^ HEADER STYLES ^
*/


/*
AWESOME STYLES
*/


.awesome-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1F2937;
  font-family: 'roboto', monospace;
  flex: 1;
  padding-top: 100px;
}

.awesome-container .left-container {
  display: flex;
  flex-direction: column;
  margin: 40px;
  height: auto;
  width: 600px;
}

.text-main {
  display: flex;
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.text {
  display: flex;
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up {
  border-radius: 8px;
  border:none;
  height: 34px;
  width: 100px;
  background-color: #3882F6;
}

.awesome-container .right-container {
  display: flex;
  margin: 40px;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 600px;
  background-color: darkgray;
}

.awesome-container .right-container .image {
  color: #F9FAF8;
}


/*
^ AWESOME STYLES ^
*/


/*
RANDOM STYLES
*/


.random-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: 'roboto', monospace;
  flex: 1;
  padding-top: 100px;
}

.random-container .top-box .random-text {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  align-content: center;
}

.random-container .box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-container .box {
  display: flex;
  margin: 20px;
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: #3882F6;
  border-radius: 8px;
}

.random-container .text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.random-container .text-container .box-text {
  margin-top: 5px;
  margin-inline: 25px;
  height: 200px;
  width: 200px;
  font-size: 15px;
}


/*
^ RANDOM STYLES ^
*/



/*
QUOTE STYLES
*/


.quote-container {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-container .quote-text {
  display: flex;
  height: 150px;
  width: 900px;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quote-container .quote-attribute {
  font-size: 24px;
  font-weight: bolder;
  padding-left: 700px;
}


/*
^ QUOTE STYLES ^
*/


/*
ACTION STYLES
*/


.action-container {
  display: flex;
  justify-content: center;
  background-color: white;
}

.info-container {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: #3882F6;
  margin: 100px;
  height: 100px;
  width: 1000px;
  border-radius: 8px;
}

.info-container .text-container {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.info-container .text-container .call-text {
  color: white;
  font-size: 24px;
  font-weight: bolder;
}

.info-container .text-container .sign-text {
  color: white;
  font-size: 14px;
}

.info-container .sign-up-two {
  border-radius: 8px;
  border: 2px solid white;
  margin-left: 250px;
  color: white;
  height: 34px;
  width: 100px;
  background-color: #3882F6;
}


/*
^ ACTION STYLES ^
*/


/*
COPYRIGHT CONTAINER
*/


.copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  height: 80px;
}

.copyright-container .cr-text {
  color: white;
  font-size: 14px;
}


/*
^ COPYRIGHT CONTAINER ^
*/